{:tasks
 {:requires ([babashka.fs :as fs])

  clean {:doc "Remove build artefacts"
         :task (fs/delete-tree "target")}

  clobber {:depends [clean]
           :doc "Restore project to pristine state"
           :task (do (fs/delete-tree "node_modules")
                     (fs/delete-tree ".clj-kondo/.cache")
                     (fs/delete-tree ".clj-kondo/imports")
                     (fs/delete-tree ".cpcache")
                     (fs/delete-tree ".lsp/.cache"))}

  init {:doc "Install development dependencies"
        :task (do
                (clojure "-P -M:dev:cljs:nrepl")
                (shell "npm install"))}

  dev {:doc "Start nREPL server"
       :task (clojure "-M:dev:nrepl")}

  dev:cljs {:doc "Start ClojureScript development environment"
            :task (shell "npx shadow-cljs watch dev test")}

  test {:doc "Run all tests with Clojure"
        :task (clojure "-M:dev:test")}

  test:cljs {:doc "Start ClojureScript test runner in a browser"
             :task (shell "npx shadow-cljs watch test")}

  repl:dev {:doc "Start interactive nREPL (Clojure)"
            :task (clojure "-M:dev:nrepl" "--interactive" "--color")}

  repl:cljs {:doc "Start interactive browser repl"
             :task (shell "npx shadow-cljs cljs-repl dev")}

  repl:cljs-build {:doc "Start interactive build repl"
                   :task (shell "npx shadow-cljs clj-repl")}

  example:serve {:doc "Serve example project compiling ClojureScript on changes"
                 :task (shell "npx shadow-cljs watch dev")}}}
