{:tasks
 {:requires ([babashka.fs :as fs])

  clean {:doc "Remove build artefacts"
         :task (fs/delete-tree "target")}

  clobber {:depends [clean]
           :doc "Restore project to pristine state"
           :task (do (fs/delete-tree "node_modules")
                     (fs/delete-tree ".clj-kondo/.cache")
                     (fs/delete-tree ".clj-kondo/imports")
                     (fs/delete-tree ".cpcache")
                     (fs/delete-tree ".lsp/.cache"))}

  init {:doc "Install development dependencies"
        :task (do
                (clojure "-P -M:dev:cljs:nrepl")
                (shell "npm install"))}

  dev {:doc "Start nREPL server"
       :task (clojure "-M:dev:nrepl")}

  dev:repl {:doc "Start interactive nREPL (Clojure)"
            :task (clojure "-M:dev:nrepl" "--interactive" "--color")}

  dev:cljs {:doc "Start ClojureScript development environment"
            :task (run '-dev:cljs {:parallel true})}
  -dev:cljs {:depends [dev:serve dev:css test:serve]}

  dev:serve {:doc "Serve example project compiling ClojureScript on changes"
             :task (shell "npx shadow-cljs watch dev")}

  dev:css {:doc "Compile and watch CSS for example project"
           :task (shell "npx tailwindcss"
                        "--cwd" "examples/7guis"
                        "--input" "src/seven_guis/app.css"
                        "--output" "../../target/7guis/css/app.css"
                        "--map"
                        "--watch")}

  dev:cljs:repl {:doc "Start interactive browser repl"
                 :task (shell "npx shadow-cljs cljs-repl dev")}

  dev:cljs:build-repl {:doc "Start interactive build repl"
                       :task (shell "npx shadow-cljs clj-repl")}

  test {:doc "Run all tests with Clojure"
        :task (clojure "-M:dev:test")}

  test:serve {:doc "Start ClojureScript test runner in a browser"
              :task (shell "npx shadow-cljs watch test")}}}
