{:deps {:aliases [:dev :cljs]}
 :dev-http {8000 ["target/test"]
            9000 ["target/7guis" "examples/7guis/public/"]}
 :builds
 {:dev
  {:target :browser
   :modules {:app {:init-fn seven-guis.app/init}}
   :output-dir "target/7guis/js"
   :asset-path "/js"
   :devtools {:after-load seven-guis.app/resume
              :before-load seven-guis.app/suspend!
              :preloads [preloads.jsprint]}}
  :test
  {:target :browser-test
   :test-dir "target/test"}}}
