@layer components {
  svg {
    stroke: var(--primary);
  }

  .temp-converter-input {
    label {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }

    input {
      width: 7.5rem;
    }
  }
}
